@charset "utf-8";
@import 'reset';

body {
    font: 1rem/1.4 "orbitron"; letter-spacing: 0.05rem; color: #ddd; background-color: #000;

    .wrap {
       width: 100vw; height: 100vh; perspective: 65rem;
       > video {
           position: fixed;
           width: 100%; height: 100%; object-fit: cover; opacity: 0.5;
       }

       #circle {
           position: absolute;
           width: 30rem; height: 40rem; top: 50%; left: 50%; margin-top: -20rem; margin-left: -15rem;

           article {
               position: absolute;
               width: 100%; height: 100%; top: 0; left: 0; display: none;
               h1 {
                   position: absolute;
                   font: 0.85rem/1.3 "orbitron"; color: #fff;
                   left: 0; top: 0; font-size: 1.5rem; opacity: 0; transition: all 0.5s;
               }
               &:hover h1 {top: -3rem; opacity: 1;}

               .inner {
                   width: 100%;
                   height: 100%;

                   > div {
                       position: relative;
                       width: 100%; height: 100%;
                       border: 0.05rem solid rgba(255,255,255,0.5); box-sizing: border-box; background: rgba(255,255,255,0.06);
                       padding: 2.5rem; opacity: 0.7; overflow: hidden; cursor: pointer; transition: all 0.5s;

                        &:hover {
                            background: rgba(255,255,255,0.15);
                            transform: scale(1.03);
                            opacity: 1;
                        }
                   }
               }
           }

           /* face1 */
           .face1 {
            display: none;

            .inner {
                > div {
                    width: 14.5rem;
                    height: 12.7rem;
                    float: left;
                    margin-bottom: 1rem;
                    text-align: center;

                    p i {
                        font-size: 5rem;
                        transition: all 0.5s;
                        opacity: 0.7;
                    }

                    h2 {
                        margin-top: 1rem;
                        letter-spacing: 0.1rem;
                        transition: all 0.5s;
                    }

                    &:nth-of-type(odd) {
                        margin-right: 1rem;
                    }
                    &:hover{
                        i {
                            color: lightcyan;
                            text-shadow: 0 0 0.5rem aqua;
                            transform: scale(1.2);
                            transition: all 0.5s;
                            }
                        h2 {
                            color: lightcyan;
                            text-shadow: 0 0 0.5rem aqua;
                            }
                        }
                    }
                }
            }

            /* face2 */
            .face2 {
                display: none;

                .inner {
                    > div {
                        width: 100%; height: 100%;

                        h2 {
                            margin-top: 1rem;
                            letter-spacing: 0.1rem;
                            transition: all 0.5s;
                        }
                        img {
                            width: 100%;
                            margin-top: 1.5rem;
                            margin-bottom: 2rem;
                        }

                        h3 {
                            color: #fff;
                            margin-bottom: 1rem;
                        }
                        p {
                            font: 0.9rem/1.3 "arial"; color: #ccc;
                        }

                         &:hover{
                            h2 {
                                color: lightcyan;
                                text-shadow: 0 0 0.5rem aqua;
                            }
                            
                            &:hover{
                                i {
                                    color: lightcyan;
                                    text-shadow: 0 0 0.5rem aqua;
                                    transform: scale(1.2);
                                    transition: all 0.5s;
                                }
                                h2 {
                                    color: lightcyan;
                                    text-shadow: 0 0 0.5rem aqua;
                                }
                            }
                        }
                    }
                }
            }

            /* face3 */
            .face3 {
                display: none;
                
                .inner {
                    > div {
                        width: 100%;
                        height: 12.65rem;
                        margin-bottom: 1rem;

                        .pic {
                            position: relative;
                            width: 6rem; height: 6rem;
                            background-repeat: no-repeat; background-position: center top; background-size: cover; overflow: hidden;
                            border-radius: 3rem; border: 0.05rem solid #fff; float: left; top: 0.75rem;
                        }

                       

                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) .pic
                            {
                                background-image: url(../img/member#{$i}.jpg);
                            }
                        }

                        // &:nth-of-type(1) .pic {
                        //     background-image: url(../img/member1.jpg);
                        // }

                        .con {
                            width: 17rem;
                            float: right;

                            h2 {
                                font: 1.2rem/1 "orbitron";
                                color: #fff;
                                transition: all 0.5s;
                            }
                            p {
                                font: 0.88rem/1.3 "arial"; color: #ddd; margin-top: 1rem;
                            }
                            span {
                                position: absolute;
                                bottom: 2.5rem;
                                right: 2.5rem;
                                font: 0.6rem/1 "orbitron";
                                color:aqua;
                                opacity: 0.5;
                            }
                        }

                        &:hover{
                            h2 {
                                color: lightcyan;
                                text-shadow: 0 0 0.5rem aqua;
                            }
                        }
                    }
                }
            }

            /* face4 */
            .face4 {
                display: block;

                .inner {
                    > div {
                        p {
                            font: 0.8rem/1.3 "arial";
                            color: #bbb;
                            margin-top: 1rem;
                        }

                        &:nth-of-type(1) {
                            width: 100%; height: 30rem; margin-bottom: 1rem;
                            video {
                                width: 100%;
                                margin-bottom: 1.5rem;
                            }
                        }
                        &:nth-of-type(2) {
                            width: 100%; height: 9rem;
                            p {
                                float: left;
                            }
                            em {
                                float: right;
                                font-size: 0.6rem;
                                color: #ccc; margin-top: 1.15rem;
                            }
                        }
                        &:hover {
                            h2 {
                                color: lightcyan;
                                text-shadow: 0 0 0.5rem aqua;
                            }
                        }
                    }
                }
            }
        }
    }
}